.banner {
  display: flex;
  justify-content: center;
  font-variant-caps: small-caps;
  font-size: 1.5rem;

  &__logo {
    width: 4em;
    height: auto;
  }

  &__title {
    align-self: flex-end;
  }

  &__repeat,
  &__fixed {
    display: none;
  }

  &__link {
    color: $brand-color-dark;

    &:hover {
      text-decoration: none;
    }

    > span {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    &__title {
      margin-left: auto;
    }

    &__repeat {
      display: inline;
    }

    &__repeat + &__sup {
      display: none;
    }
  }
}
