.banner {
  font-variant-caps: small-caps;
  font-size: 1.5rem;

  &__repeat,
  &__fixed {
    display: none;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }

    > span {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    &__repeat {
      display: inline;
    }

    &__repeat + &__sup {
      display: none;
    }
  }
}
