.menu {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  overflow: hidden;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-variant-caps: small-caps;
  }

  @include breakpoint($screen-xs-max, max) {
    transition: height 1s ease;

    &--collapsed {
      height: 0;
    }

    &--animating {
      &::before {
        content: ' ';
        position: absolute;
        top:0;
        width: 100%;
        height: 1em;
        background: linear-gradient(to bottom, #{$alt-color-lighter}, transparent);
      }
    }
  }

  @include breakpoint($screen-sm-min) {
    &__list {
      flex-direction: row;
      justify-content: space-between;
    }

    &__home-item {
      display: none;
    }
  }

  &__link {
    @include font-newspaper;

    display: block;
    padding: $spacing-unit-default 0;
    color: $brand-color-dark;
    font-weight: bold;
    transition: color .1s ease;

    &:hover {
      color: $brand-color-light;
      text-decoration: none;
    }
  }
}

