.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-variant-caps: small-caps;

  @include breakpoint($screen-xs-max, max) {
    &--collapsed {
      display: none;
    }
  }

  @include breakpoint($screen-sm-min) {
    flex-direction: row;
    justify-content: space-between;

    &__home {
      display: none;
    }
  }

  &__link {
    @include font-newspaper;

    display: block;
    padding: $spacing-unit-default 0;
    color: $brand-color-dark;
    font-weight: bold;
    transition: color .1s ease;

    &:hover {
      color: $brand-color-light;
      text-decoration: none;
    }
  }
}

