.navigation {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  overflow: hidden;

  @include breakpoint($screen-xs-max, max) {
    transition: height 1s ease;

    &--collapsed {
      height: 0;
    }

    &--animating {
      &::before {
        content: ' ';
        position: absolute;
        top:0;
        width: 100%;
        height: 1em;
        background: linear-gradient(to bottom, #{$alt-color-lighter}, transparent);
      }
    }
  }
}
