<div class="banner" role="banner">
  {# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 304" class="banner__logo">
    <path d="M2,111h300l-243,176 93-285 93,285z" fill="black" stroke="#000" stroke-width="3" stroke-linejoin="round"/>
  </svg> #}
  <h1 class="banner__title">
    <a href="{{site.url}}" rel="home" class="banner__link" id="menu-toggle">
      <span>{{site_name}}</span>
      {% if site_name_repeat %}
        <span class="banner__repeat">{{site_name_repeat}}</span>
      {% endif %}
      <sup class="banner__sup">2</sup>
    </a>
  </h1>
</div>
