{% extends "base.twig" %}

{% block content %}
	<ul class="list-stacked list-stacked--huge list-stacked--divided js-tease-container">
		{% for post in posts %}
			<li>
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</li>
		{% endfor %}
		{% include "loadicator.twig" with { prefix: 'tease' } %}
	</ul>

	{% include "partial/infinite-scrolling.twig" with { prefix: 'tease' } %}
{% endblock %}
