{% extends "base.twig" %}

{% block content %}
	<ul class="list-stacked list-stacked--huge list-stacked--divided">
		{% for post in posts %}
			<li>
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</li>
		{% endfor %}
	</ul>

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
