body {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  overflow-y: scroll;

  @media screen and (min-width: $screen-md-min) {
    max-width: $screen-xs-max;
  }

  @media screen and (min-width: $screen-lg-min) {
    max-width: $screen-md-max;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  @include font-newspaper;
}
