{% if posts.pagination.pages is not empty %}
  <template id="tease-template">
    {% include "tease.twig" with { is_template: true } %}
  </template>
  <div id="tease-sentinel"></div>
  {{enqueue_script('infinite-scrolling')}}
{% endif %}
